.logo--container {
  width: 260px;
  h1 {
    color: var(--color-darkblue);
  }
}
.logo {
  object-fit: contain;
}

.home {
  color: var(--color--skyblue);
}
.nav--active {
  width: 243px;
  height: 50px;
  border: 1px solid transparent;
  position: relative;
  border-radius: 0 37px 37px 0;
  background-color: rgb(47, 159, 248, 0.1);
}

.nav--active::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid transparent;
  border-radius: 100%;
  left: 10px;
  top: 50%;
  background-color: var(--color--skyblue);
}
.nav--covid19 {
  position: relative;
}
.covid19::before {
  content: "";
  position: absolute;
  width: 243px;
  height: 0.5px;
  left: -30px;
  top: 45px;
  background-color: grey;
}

.covid19::after {
  content: "";
  position: absolute;
  width: 243px;
  height: 0.5px;
  left: -30px;
  bottom: 15px;
  background-color: grey;
}

.subscribe {
  margin-top: 9rem;
  width: 227px;
  height: 113px;
  background-color: var(--color--skyblue);
  color: var(--color-white);
}

.subscribe--button {
  color: var(--color-white);
  background-color: var(--color-darkblue);
  border: 1px solid transparent;
  border-radius: 4px;
}
