.btn--follow {
  width: 116px;
  height: 32px;
}
.btn--upgrade {
  width: 110px;
  height: 38px;
}
.btn--items {
  height: 30px;
}
.btn--subscribe-1 {
  width: 244px;
  height: 38px;
}
.btn--subscribe-2 {
  width: 116px;
  height: 38px;
}
.btn--showmore {
  width: 118px;
  height: 38px;
}
.btn--covid19 {
  width: 256px;
  height: 46px;
}
