.flex {
  display: flex;
}
.alingItems {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyAround {
  justify-content: space-around;
}
.justifyEvenly {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

/* .textAlign {
  text-align: center;
} */
/* .center {
  display: flex;
  justify-content: center;
  text-align: center; ehtiac yoxdu
  align-items: center;
} */

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
