.img-3xl {
  width: 1100px;
  height: 625px;
  object-fit: contain;
}
.img--md {
  width: 172px;
  height: 132px;
}
.img--sm {
  width: 134px;
  height: 132px;
}
.img--xs {
  width: 70px;
  height: 70px;
}
