.ml-4 {
  margin-left: 4px;
}
.mr-4 {
  margin-right: 4px;
}

.mx-4 {
  margin: 0 4px;
}
.mt-4 {
  margin-top: 4px;
}
.mb-4 {
  margin-bottom: 4px;
}
.my-4 {
  margin: 4px 0;
}
.m-4 {
  margin: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.mx-8 {
  margin: 0 8px;
}
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.my-8 {
  margin: 8px 0;
}
.m-8 {
  margin: 8px;
}
.ml-16 {
  margin-left: 1rem;
}
.mr-16 {
  margin-right: 1rem;
}
.mx-16 {
  margin: 0 1rem;
}
.mt-16 {
  margin-top: 1rem;
}
.mb-16 {
  margin-bottom: 1rem;
}
.my-16 {
  margin: 1rem 0;
}
.m-16 {
  margin: 1rem;
}
.ml-32 {
  margin-left: 2rem;
}
.mr-32 {
  margin-right: 2rem;
}
.mx-32 {
  margin: 0 2rem;
}
.mt-32 {
  margin-top: 2rem;
}
.mb-32 {
  margin-bottom: 2rem;
}
.my-32 {
  margin: 2rem 0;
}
.m-32 {
  margin: 2rem;
}

.mr-48 {
  margin-right: 3rem;
}
