header {
  position: sticky;
  top: 0;
}
/* center klasinin adini anlamli birseyle deis. baxanda bilinsin ne center ? */
.center {
  flex: 1;
}

.src-container {
  background-color: var(--color-light-white);
}
.src-input {
  width: 495px;
  border: none;
  outline: none;
  background-color: var(--color-light-white);
  border-radius: 4px;
}
.button-covid19 {
  border: 0.2px solid #072d4b;
  border-radius: 4px;
  /* #f4f9f8 bu rengi color css-e cxar. cox istfade olundu uje   */
  background-color: #f4f9f8;
}
.src-covid19 {
  color: var(--color--skyblue);
}
.src-profile {
  border: none;
  background-color: #f4f9f8;
}
