header {
  position: sticky;
  top: 0;
}
.section-container {
  flex: 1;
}
.src-container {
  background-color: var(--color-light-white);
}
.src-input {
  width: 495px;
  border: none;
  outline: none;
  background-color: var(--color-light-white);
  border-radius: 4px;
}
.button-covid19 {
  border: 0.2px solid #072d4b;
  border-radius: 4px;
  background-color: var(--color-lightgray);
}
.src-covid19 {
  color: var(--color--skyblue);
}
.src-profile {
  border: none;
  background-color: var(--color-lightgray);
}
