@import url(../css/font.css);
@import url(../css/button.css);
@import url(../css/color.css);
@import url(../css/flex.css);
@import url(../css/icon.css);
@import url(../css/img.css);
@import url(../css/margin.css);
@import url(../css/padding.css);
@import url(../css/text.css);
@import url(../css/reset.css);
@import url(../css/aside--left.css);
@import url(../css/section-center.css);
@import url(../css/aside--right.css);
@import url(../css/box.css);
@import url(../css/view.css);

main {
  position: relative;
}

main {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: -10;
}
#modalContainer {
  background-color: white;
  position: absolute;
  left: 32%;
  top: 50%;
  position: fixed;
  width: 520px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 20;
  border: 1px solid #000;
}

.scale-0 {
  scale: 0%;
}

.scale-100 {
  scale: 100%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
